.reveal.active{
  transform: translateX(0);
  opacity: 1;
}
.reveal{
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: .5s all ease;
}

.reveal_top.active{
  transform: translateY(0);
  opacity: 1;
}
.reveal_top{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: .5s all ease;
}

.floating{
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(10px);
	}
	100% {
		transform: translatex(0px);
	}
}